// @import 'assets/scss/valuable';
@import 'assets/scss/animation';

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 8rem;
	color: #fff;
	animation: comingsoon-popup 2s ease-in-out;
	z-index: 100;
}
